[user]
	name = Bruno Brunkow
	email = self@brunobrunkow.de
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
